@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color_text-primario:#E5841A;
    --color_text_secundario:#5D7C29;
    --color_text_terciario:#1F2B0B;
    --color_text_cuaternario:#643604;
    --color_text_quinto:beige;
        
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}


/*----------------------------contenedor barra de busqueda------------------------------------------*/


.contenedor_barra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.barreda_de_busqueda{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    width: 80%;
    border-color:var(--color_text_secundario);
    border-style:outset;
    height: 80px;
    border-radius: 60px;
}
.lugar{
    position: relative;
    width: calc((100% - 40px)/2);
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60px;
    display: inline-block;
    border-radius: 40px;
    background-color:#17f3170e;
}
.buscar_lugar{
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
    line-height: 60px;
    border-radius: 50px; 
    width: calc(100% - 50px);
}

.boton{
    width: 40px;
    color: var(--color_text_cuaternario);
    border: none;
    background: none;
    cursor: pointer;
    height: 40px;
    font-size: 30px;
    align-items: flex-start;
}
.iconos_busquedas{
    width: 40px;
    color: var(--color_text_cuaternario);
    height: 40px;
    font-size: 30px;
    align-items: flex-start;
}
.buscar_tcargo{
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
    line-height: 60px;
    border-radius: 50px;
    width: calc(100% - 50px);
}
.cargo{
    position: relative;
    width: calc((100% - 40px)/2);
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: #03aa030e;
    padding: 10px;
    height: 60px;
    border-radius: 40px;  
}



/*--------------------------------main-------------------------------------------------------------*/


main {
    display: flex;
    flex-direction: row;
    padding: 50px 60px 0 60px;
    min-height: 75vh;
}
.contenedor-ofertas {
    height: fit-content;
    display: block;
    width: 40%;
}
.contenedor-descripcion {
    width: 60%;
    display: none;/*block*/
    animation-duration: 0.2s;
}
.click-oferta {
    animation-name: cambioOferta;
}
@keyframes cambioOferta {
    0% {transform: translateX(0px);}
    50% {transform: translateX(10px);}
    100% {transform: translateX(0px);}
}
.sin-resultados {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sin-resultados p {
    font-size: 34px;
}
article {
    background-color: white;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    cursor: pointer;
    border-bottom: 2px solid rgb(194, 194, 194);
    z-index: 2;
    transition-duration: 0.2s;
}
.seleccionado {
    background: linear-gradient(90deg, white 30%, var(--color_text_quinto));
    color: var(--color_text-primario);
}
.img-fabrica {
    background-color: rgb(248, 242, 242);
    width: 180px;
    height: auto;
    margin-right: 20px;
}
article span {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*ubicacion  #266B14 https://www.flaticon.es/icono-gratis/mapa_3082383?term=ubicacion&page=1&position=6&origin=search&related_id=3082383*/
}
article:hover {
    transform: scale(1.025);
    border-bottom-color: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ubicacion span {
    background-image: url(../icons/ubicacion.png);
}
.fecha span {
    background-image: url(../icons/reloj.png);
}



/*----------------------contenedor descripcion-----------------------------*/

.contenedor-descripcion {
    background-color: var(--color_text_quinto);
    padding: 0 30px;
    display: none;
}
.contenedor-descripcion section {
    padding: 30px 0;
    border-bottom: 2px solid black;
}
.encabezado {
    padding-bottom: 15px;
    position: relative;
}
.encabezado h1 {
    font-size: 60px;
    line-height: 45px;
    color: var(--color_text_secundario);
}
.encabezado h2 {
    font-size: 25px;
    margin-bottom: 30px;
}
.encabezado h2 a {
    color: black;
}
.encabezado button {
    font-size: 25px;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--color_text-primario);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-aplicar:hover,
.btn-guardar:hover {
    background-color: var(--color_text_secundario);
}
.encabezado .btn-cerrar {
    position: absolute;
    right: 12px;
    top: 42px;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    background-image: url(../icons/equis.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.encabezado .btn-cerrar:hover {
    transform: scale(1.4);
}

.contenedor-descripcion .info-general {
    flex-direction: row;
    justify-content: space-between;
}

.info-general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
}
.info-general span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info-general .ubicacion{
    width: 50%;
}
.horario span {
    background-image: url(../icons/sol.png);
}
.salario,
.prestaciones,
.descripcion
{
    font-size: 20px;
}
.salario div{
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.salario h3 {
    margin-left: 40px;
    color: var(--color_text-primario);
    font-weight: 300;
    font-size: 28px;
}

/*----------------------contenedor info-----------------------------*/

.contenedor-info {
    position: relative;
    display: block;
    width: 50%;
    padding: 5% 5% 5% 15%;
    margin-left: 5%;
}
.contenedor-info .cuadrado {
    z-index: 2;
    left: 20%;
    position: absolute;
    transform: rotate(10deg);
    background-color: var(--color_text_quinto);
    width: 70%;

}
.contenedor-info .texto {
    z-index: 4; 
    width: 100%;
    height: 100%;
    padding: 10%;
    transform: rotate(-10deg);

}
.contenedor-info p {
    font-size: 24px;
    text-align: justify;
    color: var(--color_text_cuaternario);
}
.contenedor-info .circulog {
    z-index: 3;
    left: 130px;
    top: 0px;
    position: absolute;
    background-color: var(--color_text_secundario);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.contenedor-info .circulop {
    z-index: 1;
    position: absolute;
    left: 70%;
    top: 235px;
    background-color: transparent;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--color_text-primario);
    border: 20px solid var(--color_text-primario);
}


/*------------------------bandeja de opciones-----------------------------*/


.bandeja_opciones {
    overflow: auto;
    z-index: 5;
    top: 65px;
    position: absolute;
    border-radius: 20px;
    display: none;
    max-height: 400px;
    opacity: 1;
    transition-duration: 0.2s;
    border: 2px solid rgb(245, 245, 245);
    box-shadow: rgb(93, 93, 93) 0px 7px 29px 0px;
    background-color: white;
}
.bandeja_opciones::-webkit-scrollbar {
    -webkit-appearance: none;
}
.bandeja_opciones::-webkit-scrollbar:vertical {
    width: 10px;
}
.bandeja_opciones::-webkit-scrollbar-button:increment,.bandeja_opciones::-webkit-scrollbar-button {
    display: none;
} 
.bandeja_opciones::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 20px;
}
.bandeja_opciones::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.bandeja_lugar {
    overflow-y: auto;
}
.opciones_lugar, .opciones_puesto {
    border: none;
    height: 40px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}
.opciones_lugar:hover, .opciones_puesto:hover {
    background-color: var(--color_text_quinto);
    
}
.bandeja_lugar :nth-child(1 of .opciones_barrio) {
    border-top: 2px solid var(--color_text-primario);
}
