@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{min-height: 100vh;  
}
:root{
    --color_text-primario:#E5841A;
    --color_text_secundario:#5D7C29;
    --color_text_terciario:#1F2B0B;
    --color_text_cuaternario:#643604;
    --color_text_quinto:beige;;
}
/*portada*/

.container__portada{
    padding-top: 10px;
}

.portada{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.text__portada{
    width: 100%;
    padding-right: 150px;
    font-weight: bold;
}
.text__portada h1{
    font-size: 50px;
}
.text__portada p{
    font-size: 40px;  
    color: var(--color_text_secundario);
}
.imagen_portada {
width: 100%;
 
}
.imagen_portada img{
    width: 550px;
    height: 350px;    
}
.contenedor_barra {
    display: flex;
    justify-content: center;
    align-items: center;
}
.barreda_de_busqueda{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    width: 80%;
    border-color:var(--color_text_secundario);
    border-style:outset;
    height: 80px;
    border-radius: 60px;
}
.lugar{
    width: calc((100% - 40px)/2);
    justify-content: center;
    align-items: center;
    top: 50%;
    padding: 10px;
    height: 60px;
    display: inline-block;
    border-radius: 40px; 
    background-color:#17f3170e;
}
.buscar_lugar{
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
    line-height: 60px;
    border-radius: 50px; 
    width: calc(100% - 50px);
}

.boton{
    width: 40px;
    color: var(--color_text_cuaternario);
    height: 40px;
    font-size: 30px;
    align-items: flex-start;
}
.iconos_busquedas{
    width: 40px;
    color: var(--color_text_cuaternario);
    height: 40px;
    font-size: 30px;
    align-items: flex-start;
}
.buscar_tcargo{
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 20px;
    line-height: 60px;
    border-radius: 50px;
    width: calc(100% - 50px);
}
.cargo{
    width: calc((100% - 40px)/2);
    display: inline-block;
    justify-content: center;
    align-items: center;
    top: 50%;
    background: #03aa030e;
    padding: 10px;
    height: 60px;
    border-radius: 40px;  
}
.acceso_plataforma {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.btn__accinicio{
    padding: 5px 8px;
    border-radius: 100px;
    background-color: var(--color_text_secundario);
    color: rgb(255, 255, 255);
    transition: all 300ms;
}
.btn__accregistro{
    padding: 5px 8px;
    border-radius: 100px;
    background-color:  var(--color_text_secundario);
    color: white;
    transition: all 300ms;
    margin: 0px 20px;
  
}
.btn__accinicio:hover{
    
    background: var(--color_text-primario);
    
}
.btn__accregistro:hover{
    
    background: var(--color_text-primario);
    
}

/*------------------------bandeja de opciones-----------------------------*/


.bandeja_opciones {
    overflow: auto;
    z-index: 5;
    top: 65px;
    position: absolute;
    border-radius: 20px;
    display: none;
    max-height: 400px;
    opacity: 1;
    transition-duration: 0.2s;
    border: 2px solid rgb(245, 245, 245);
    box-shadow: rgb(93, 93, 93) 0px 7px 29px 0px;
    background-color: white;
}
.bandeja_opciones::-webkit-scrollbar {
    -webkit-appearance: none;
}
.bandeja_opciones::-webkit-scrollbar:vertical {
    width: 10px;
}
.bandeja_opciones::-webkit-scrollbar-button:increment,.bandeja_opciones::-webkit-scrollbar-button {
    display: none;
} 
.bandeja_opciones::-webkit-scrollbar-thumb {
    background-color: #ababab;
    border-radius: 20px;
}
.bandeja_opciones::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.bandeja_lugar {
    overflow-y: auto;
}
.opciones_lugar, .opciones_puesto {
    border: none;
    height: 40px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}
.opciones_lugar:hover, .opciones_puesto:hover {
    background-color: var(--color_text_quinto);
    
}
.bandeja_lugar :nth-child(1 of .opciones_barrio) {
    border-top: 2px solid var(--color_text-primario);
}


/*------------------------fin bandeja de opciones-----------------------------*/








/*Responsive*/


/*Cuando sea  Telefono*/

@media screen and (max-width:1080px){

    .logo img{
        width: 250px;
      margin: 0px;
    }
    .container__header{
        width: 100%;
    }
    .container__portada{
    
        padding-top: 0px;
    }
    .text__portada p{
        font-size: 20px;
        font-weight: normal;
        text-align: justify;
        margin-top: 10px;
    }
    .imagen_portada{
        display: none;
    }  
    .barreda_de_busqueda{
       height:auto;
        flex-direction: column;
        border: none;
        width: 100vw;
        margin-top: 10px;
    }
    .boton{
        margin-top: 20px;
    }
    .cargo{
        width: 90%;
        border-bottom-left-radius: 0px;    
        border-bottom-right-radius: 0px; 
        margin-bottom: 2px;
    }
    .buscar_tcargo{
        width: 80%;
    }
    .buscar_lugar{
        width: 80%;
    }
    .lugar{
        width: 90%;
        border-top-left-radius: 0px;    
        border-top-right-radius: 0px;
    }

   
 
}
