@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}  
:root{
    --color_text-primario:#E5841A;
    --color_text_secundario:#5D7C29;
    --color_text_terciario:#1F2B0B;
    --color_text_cuaternario:#643604;
    --color_text_quinto:beige;;
}
.info_fabrica{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.logo_fabrica img{
    border-radius: 150px;
    width: 180px;
    height: 180px;
}
.perfil__fabrica{
    padding-top: 50px;
    margin-bottom: 10px;
}
.info_fabrica p{
    font-size: 20px;
    color: var(--color_text_secundario);
    text-align: justify;
}
.info_fabrica h1{    
    color: var(--color_text_terciario);
}
.texto_perfil{
    margin-left: 20px;
}

/*ESTILO DE MENU DE PERFIL DE LA FABRICA*/
.menu_perfil{

 /*align-items:center ;
 background-color: aqua;
 max-width: 1200px;
 border-radius: 100px;
 padding: 0px 20px;*/
    background:#ffffff;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-radius: 100px;
    box-shadow: rgba(125, 150, 155, 0.2) 0px 7px 29px 0px;
}
.menu_perfil nav{
    margin: 0px 50px;
}
.menu_perfil nav ul{
    display: flex;
}
.menu_perfil nav ul li{
    list-style: none;
    margin: 20px 50px;
    
}
.menu_perfil nav ul li a{ 
    font-size: 16px;
    position: relative;
    
}
.menu nav .btn__inicio {
    color: aliceblue;
}
.menu nav ul li a:hover{
    color: var(--color_text_terciario);
}
.btn__empresa{
    padding: 10px 50px;
    border-radius: 100px;
    background-color: var(--color_text_quinto);
    transition: all 300ms;
    color: #1F2B0B;
    font-weight: bold;
    box-shadow: rgba(114, 150, 117, 0.2) 0px 7px 29px 0px;
}
.btn__empresa:hover{
    background:var(--color_text-primario); 
}
.btn__ofertas {
    padding: 10px 90px; 
    border-radius: 100px;
    background-color: var(--color_text_quinto);
    transition: all 300ms;
    font-weight: bold;
    color: #1F2B0B;
}
.btn__ofertas:hover{
    background: rgb(86, 153, 86);
}
.btn__calificacion {

    padding: 10px 80px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--color_text_quinto);
    transition: all 300ms;
    font-weight: bold;
    color: #1F2B0B;
}
.btn__empresa:hover{
    background:rgb(207, 155, 76); 
}
.container__info_complementaria{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    height: 80px;
    margin-top: 25px;
    border-radius: 10px;
}
.info_permanente{
    display: flex;
    padding: 0px 0px;
    justify-content: space-evenly;
    height: 80px;
}
.redes {
    display: flex;
}
.tiempo_laboral{
   display: flex; 
}
.info_permanente i{
    margin: 0px 10px;
    width: 50px;
    color: var(--color_text_terciario);
    height: 20px;
    font-size: 30px;
    align-items: flex-start;
    margin-top: 5px;
}
.info_permanente p{
   
   color: var(--color_text_cuaternario);
   margin-top: 8px;
}
.info_permanente section{
    display: flex;
}
/*Cambiar nombre*/

#texto_info {
    padding: 20px 20px;
   text-align: justify;
    color: var(--color_text_cuaternario);    
}

#caja_empresa,#caja_ofertas,#caja_calificacion{
    display: none;
    width: 1100PX;
	margin: auto;
	height: 0px;
	background: #ffffff;
    border-radius: 25px;
    box-shadow: rgba(68, 128, 86, 0.603) 0px 7px 29px 0px;
	transition: height .4s;
    margin-top: 10px;
    align-items: center;
    color:var(--color_text_cuaternario);

}
#caja_calificacion{
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-evenly;
   align-content: flex-start;
  
}
.comentario h3{
    margin-top: 30px;
    color:var(--color_text_cuaternario);
    
}
.text_comentario{
    margin-top: 10px;
    width: 350px;
    height:100px;
    border-radius: 5px;
    border: 2px solid var(--color_text_quinto);
}
.publicar_calificacion{
    height: 30px;
    width: 100px;
    background:var(--color_text-primario);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 10px;
    box-shadow: rgba(68, 128, 86, 0.206) 0px 7px 29px 0px;
}

.puntuacion_empresa{
    display: block;
    align-items: center;
    justify-content: center;
}
.p_estrellas{
    color: #E5841A;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.contenedor_publicar{
    display: none;
}

.perfil_f img{
    margin: 10px;
    width: 80px;
    height:80px ;
    border-radius: 45px;
}
.perfil_publicado{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
   
}
.perfil_estrellas{
    color: #E5841A;
}

.mi_opinion{
    margin: 10px;
    display: flex;
    flex-direction: column;
   
}
/*Responsive*/


/*Cuando sea  Telefono*/

@media screen and (max-width:1080px){

    header{
        width: 100%;
        height: 100px;
        position:static;
        z-index: 100;
    
    }
    .logo img{
        width: 250px;
      margin: 0px;
    }
    .container__header{
        width: 100%;
    }
    .container__portada{
    
        padding-top: 0px;
       
    
    }
    .menu nav{
        position: fixed;
        top: 0%;
        right: -250px;
       background:var(--color_text_quinto);
       width: 250px;
       height: 100vh;
       padding: 40px;
       z-index: 1;
       transition: all 300ms;
    }
    .text__portada{
        
        padding-right: 0px;
        
    }
    .text__portada p{
        font-size: 20px;
        font-weight: normal;
        text-align: justify;

        
    }
    .imagen_portada{
        display: none;
    }
    .menu ul{
        flex-direction: column;
        margin-top: 40px;
   
    }
    .menu ul li{
          margin-top: 30px;
    }

    .menu nav ul li a{
        color: var(--color_text_secundario);
        

    }
    .menu nav img{
        display: block;
        width: 200px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(112, 25, 25, 0.096);
        display: none;
    }
    .menu #btn_menu{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color_text_secundario);
        font-size: 24px ;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
        
    }

    .menu #btn_menu:hover{

        background:rgb(255, 255, 255,0.2) ;
    }
    
    .barreda_de_busqueda{
       height:auto;
        flex-direction: column;
        border: none;
        width: 100vw;
        margin-top: 10px;
    }
    .boton{
        margin-top: 20px;
    }
    .cargo{
        width: 90%;
        border-bottom-left-radius: 0px;    
        border-bottom-right-radius: 0px; 
        margin-bottom: 2px;
        
    }
    .buscar_tcargo{
        width: 80%;
    }
    .buscar_lugar{
       
        width: 80%;
    }
    .lugar{
        width: 90%;
        border-top-left-radius: 0px;    
        border-top-right-radius: 0px; 


    }

   
 
}
