@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}  
:root{
    --color_text-primario:#E5841A;
    --color_text_secundario:#5D7C29;
    --color_text_terciario:#1F2B0B;
    --color_text_cuaternario:#643604;
    --color_text_quinto:beige;;
}
.info_fabrica{
    max-width: 1150px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.logo_fabrica img{
    border-radius: 150px;
    width: 180px;
    height: 180px;
}
.perfil__fabrica{
    padding-top: 50px;
    margin-bottom: 10px;
}
.info_fabrica p{
    font-size: 20px;
    color: var(--color_text_secundario);
    text-align: justify;
}
.info_fabrica h1{    
    color: var(--color_text_terciario);
    font-size: 50px;
}
.texto_perfil{
    margin-left: 20px;
}

/*ESTILO DE MENU DE PERFIL DE LA FABRICA*/
.menu_perfil{

 /*align-items:center ;
 background-color: aqua;
 max-width: 1200px;
 border-radius: 100px;
 padding: 0px 20px;*/
    background:#ffffff;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-radius: 100px;
    box-shadow: rgba(125, 150, 155, 0.2) 0px 7px 29px 0px;
}
.menu_perfil nav{
    margin: 0px 50px;
}
.menu_perfil nav ul{
    display: flex;
}
.menu_perfil nav ul li{
    list-style: none;
    margin: 20px 50px;
    
}
.menu_perfil nav ul li a{ 
    font-size: 16px;
    position: relative;
    
}
.menu nav .btn__inicio {
    color: aliceblue;
}
.menu nav ul li a:hover{
    color: var(--color_text_terciario);
}
.btn__empresa{
    padding: 10px 50px;
    border-radius: 100px;
    background-color: var(--color_text_quinto);
    transition: all 300ms;
    color: #1F2B0B;
    font-weight: bold;
    box-shadow: rgba(114, 150, 117, 0.2) 0px 7px 29px 0px;
}
.btn__empresa:hover{
    background:var(--color_text-primario); 
}
.btn__ofertas {
    padding: 10px 90px; 
    border-radius: 100px;
    background-color: var(--color_text_quinto);
    transition: all 300ms;
    font-weight: bold;
    color: #1F2B0B;
}
.btn__ofertas:hover{
    background: rgb(86, 153, 86);
}
.btn__calificacion {

    padding: 10px 80px;
    width: 100px;
    border-radius: 100px;
    background-color: var(--color_text_quinto);
    transition: all 300ms;
    font-weight: bold;
    color: #1F2B0B;
}
.btn__empresa:hover{
    background:rgb(207, 155, 76); 
}
.container__info_complementaria{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    height: 80px;
    margin-top: 25px;
    border-radius: 10px;
}
.info_permanente{
    display: flex;
    padding: 0px 0px;
    justify-content: space-evenly;
    height: 80px;
}
.redes {
    display: flex;
}
.tiempo_laboral{
   display: flex; 
}
.info_permanente i{
    margin: 0px 10px;
    width: 50px;
    color: var(--color_text_terciario);
    height: 20px;
    font-size: 30px;
    align-items: flex-start;
    margin-top: 5px;
}
.info_permanente p{
   
   color: var(--color_text_cuaternario);
   margin-top: 8px;
}
.info_permanente section{
    display: flex;
}
/*Cambiar nombre*/

#texto_info {
    padding: 20px 20px;
   text-align: justify;
    color: var(--color_text_cuaternario);    
}

#caja_empresa,#caja_ofertas,#caja_calificacion{
    display: none;
    width: 1100PX;
	margin: auto;
	height: 0px;
	background: #ffffff;
    border-radius: 25px;
    box-shadow: rgba(68, 128, 86, 0.603) 0px 7px 29px 0px;
	transition: height .4s;
    margin-top: 10px;
    align-items: center;
    color:var(--color_text_cuaternario);

}
#caja_calificacion{
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-evenly;
   align-content: flex-start;
  
}
#caja_ofertas {
    overflow: hidden;
}
.comentario h3{
    margin-top: 30px;
    color:var(--color_text_cuaternario);
    
}
.text_comentario{
    margin-top: 10px;
    width: 350px;
    height:100px;
    border-radius: 5px;
    border: 2px solid var(--color_text_quinto);
}
.publicar_calificacion{
    height: 30px;
    width: 100px;
    background:var(--color_text-primario);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 10px;
    box-shadow: rgba(68, 128, 86, 0.206) 0px 7px 29px 0px;
}

.puntuacion_empresa{
    display: block;
    align-items: center;
    justify-content: center;
}
.p_estrellas{
    color: #E5841A;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.contenedor_publicar{
    display: none;
}

.perfil_f img{
    margin: 10px;
    width: 80px;
    height:80px ;
    border-radius: 45px;
}
.perfil_publicado{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
   
}
.perfil_estrellas{
    color: #E5841A;
}

.mi_opinion{
    margin: 10px;
    display: flex;
    flex-direction: column;
   
}




/*--------------------------------ofertas publicadas-------------------------------------------------------------*/


/*Mostrar al entrar*/
.ofertas_publicadas {
    margin: 0 auto;
    justify-self: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    min-height: 25vh;
    max-width: 1200px;
}
.contenedor-ofertas {
    height: fit-content;
    display: block;
    width: 30%;
}
.contenedor-descripcion {
    width: 70%;
    display: none;/*block*/
    animation-duration: 0.2s;
}
.click-oferta {
    animation-name: cambioOferta;
}
@keyframes cambioOferta {
    0% {transform: translateX(0px);}
    50% {transform: translateX(10px);}
    100% {transform: translateX(0px);}
}
.sin-resultados {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sin-resultados p {
    font-size: 34px;
}
article {
    background-color: white;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    cursor: pointer;
    border-bottom: 2px solid rgb(194, 194, 194);
    z-index: 2;
    transition-duration: 0.2s;
}
.contenedor-ofertas :last-child {
    border-bottom: none;
}
.seleccionado {
    color: var(--color_text-primario);
}
.img-fabrica {
    background-color: rgb(248, 242, 242);
    width: 180px;
    height: auto;
    margin-right: 20px;
}
article span {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*ubicacion  #266B14 https://www.flaticon.es/icono-gratis/mapa_3082383?term=ubicacion&page=1&position=6&origin=search&related_id=3082383*/
}
article:hover {
    background-color: var(--color_text_quinto);
}
.ubicacion span {
    background-image: url(../icons/ubicacion.png);
}
.fecha span {
    background-image: url(../icons/reloj.png);
}



/*----------------------contenedor descripcion-----------------------------*/

.contenedor-descripcion {
    background-color: var(--color_text_quinto);
    padding: 0 30px;
    display: none;
    border-left: 2px solid rgb(194, 194, 194);
}
.contenedor-descripcion section {
    padding: 30px 0;
    border-bottom: 2px solid black;
}
.contenedor-descripcion :last-child {
    border-bottom: none;
}
.encabezado {
    padding-bottom: 15px;
    position: relative;
}
.encabezado h1 {
    font-size: 60px;
    line-height: 45px;
    color: var(--color_text_secundario);
}
.encabezado h2 {
    font-size: 25px;
    margin-bottom: 30px;
}
.encabezado h2 a {
    color: black;
}
.encabezado button {
    font-size: 25px;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--color_text-primario);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.btn-aplicar:hover,
.btn-guardar:hover {
    background-color: var(--color_text_secundario);
}
.encabezado .btn-cerrar {
    position: absolute;
    right: 12px;
    top: 42px;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    background-image: url(../icons/equis.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.encabezado .btn-cerrar:hover {
    transform: scale(1.4);
}

.contenedor-descripcion .info-general {
    flex-direction: row;
    justify-content: space-between;
}

.info-general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
}
.info-general span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info-general .ubicacion{
    width: 50%;
}
.horario span {
    background-image: url(../icons/sol.png);
}
.salario,
.prestaciones,
.descripcion
{
    font-size: 20px;
}
.salario div{
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.salario h3 {
    margin-left: 40px;
    color: var(--color_text-primario);
    font-weight: 300;
    font-size: 28px;
}

/*----------------------contenedor info-----------------------------*/

.contenedor-info {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_text_quinto);
    border-left: 2px solid rgb(194, 194, 194);
}
.contenedor-info .cuadrado {
    width: 60%;
    height: fit-content;
}
.contenedor-info .texto {
    width: 100%;
    height: 100%;
    padding: 10%;
}
.contenedor-info p {
    font-size: 24px;
    text-align: justify;
    color: var(--color_text_cuaternario);
}









/*Responsive*/


/*Cuando sea  Telefono*/

@media screen and (max-width:1080px){

    header{
        width: 100%;
        height: 100px;
        position:static;
        z-index: 100;
    
    }
    .logo img{
        width: 250px;
      margin: 0px;
    }
    .container__header{
        width: 100%;
    }
    .container__portada{
    
        padding-top: 0px;
       
    
    }
    .menu nav{
        position: fixed;
        top: 0%;
        right: -250px;
       background:var(--color_text_quinto);
       width: 250px;
       height: 100vh;
       padding: 40px;
       z-index: 1;
       transition: all 300ms;
    }
    .text__portada{
        padding-right: 0px;
    }
    .text__portada p{
        font-size: 20px;
        font-weight: normal;
        text-align: justify;
    }
    .imagen_portada{
        display: none;
    }
    .menu ul{
        flex-direction: column;
        margin-top: 40px;
   
    }
    .menu ul li{
         margin-top: 30px;
    }

    .menu nav ul li a{
        color: var(--color_text_secundario);
    }
    .menu nav img{
        display: block;
        width: 200px;
        margin: auto;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(112, 25, 25, 0.096);
        display: none;
    }
    .menu #btn_menu{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color_text_secundario);
        font-size: 24px ;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
        
    }
    .menu #btn_menu:hover{

        background:rgb(255, 255, 255,0.2) ;
    }
    .info_fabrica{
        align-items:flex-start;
    }
    .logo_fabrica img{
        border-radius: 150px;
        width: 60px;
        height: 60px;
        
    }
    .menu_perfil{
         /*align-items:center ;
         background-color: aqua;
         max-width: 1200px;
         border-radius: 100px;
         padding: 0px 20px;*/
           background:#ffffff;
           max-width: 100;
           height: 100%;
           margin: 5px;
           align-items: center;
           padding: 0px 20px;
           border-radius: 100px;
          
           box-shadow: rgba(125, 150, 155, 0.2) 0px 7px 29px 0px;
    }
    .btn__empresa,.btn__ofertas,.btn__calificacion {
        padding: 10px 5px;
    }
    #caja_empresa,#caja_ofertas,#caja_calificacion{
        display: none;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .menu_perfil nav{
        margin: 0px 0px;
    }
    .menu_perfil nav ul li{
        list-style: none;
        margin: 20px 20px;
        
    }
   
    /*--------------------------------ofertas publicadas-------------------------------------------------------------*/
   
   
   .ofertas_publicadas {
    flex-direction: column;
    padding: 0px;
    margin-top: 30px;
    min-height: 0px;
    border-top: 2px solid rgb(194, 194, 194);
    }
    
    .contenedor-ofertas {
        width: 100%;
    }
    .contenedor-descripcion {
        width: 100%;
        animation: none;
    }
    .click-oferta {
        animation: none;
    }
    article {
        padding: 10%;
        flex-direction: column;
        /* align-items: ?; */
        z-index: 0;
        transition-duration: 0s;
    
    }
    .seleccionado {
        background: white;
        color: black;
    }
    .img-fabrica {
        width: 80vw;
        margin-right: 0px;
    }
    article:hover {
        transform: none;
        border-bottom: 2px solid rgb(194, 194, 194);
        box-shadow: none;
    }
    
    /*----------------------contenedor descripcion-----------------------------*/
    
    
    .encabezado h1 {
        font-size: 45px;
    }
    .encabezado h2 {
        font-size: 20px;
    }
    .encabezado button {
        font-size: 18px;
        margin-top: 20px;
    }
    .contenedor-descripcion .info-general {
        flex-direction: column;
        justify-content: baseline;
    }
    .info-general .ubicacion{
        width: 100%;
    }
    
    
    /*----------------------contenedor info-----------------------------*/
    
    .contenedor-info {
        display: none;
    }
    /*----------------------fin contenedor info-----------------------------*/

}
